:root {
  --text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --promo-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --border-bottom-color: #eeeeee;
  --padding-standart: 94px 0px;
  --soc-icon-color: AFB1B8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  /* outline: 1px solid tomato; */
}

/* -----------------HEADER----------------- */


/* -----------------CONNECTION----------------- */


/* ------------------HERO-------------------- */


/* ------------------BENEFITS-------------------- */



/* ------------------PROMO-------------------- */


/* ------------------ABOUT------------------- */


/* ------------------CLIENTS------------------- */


/* ------------------ICON------------------- */


/* ------------------FOOTER------------------- */


/* ------------------CONTACTS------------------- */


/* ------------------FOOTER FORM------------------- */


/* ------------------MODALS------------------- */

/* ------------------PORTFOLIO------------------- */

/* ------------------FILTER------------------- */


/* ------------------PROJEKT------------------- */

