.connection-list {
  display: flex;
  margin-left: auto;
}

.connection-list .connection-item + .connection-item {
  margin-left: 50px;
}

.connection-mail,
.connection-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon,
.smartphone-icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}

.connection-mail:hover,
.connection-mail:focus {
  color: var(--accent-color);
}

.connection-tel:hover,
.connection-tel:focus {
  color: var(--accent-color);
}
