.connection-list {
  display: flex;
  margin-left: auto;
      & .connection-item + .connection-item {
      margin-left: 50px;
    }
}

.connection-mail,
.connection-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  @include animation;
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.mail-icon,
.smartphone-icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}